
.container {
    max-width: 100vw;
    margin: 0 0;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
    color: transparent;
    /* Puts effect on the text and not in background */
    
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 5s ease infinite;
    background-image: linear-gradient( 68.7deg, rgba(29,173,235,1) 20%, rgba(137,149,250,1) 40%, rgba(229,109,212,1) 60%, rgba(255,68,128,1) 80%, rgba(255,94,0,1) 100% );
}

@keyframes move {
    0%,100%{
        background-position: 200% 0%;
    }

    50%{
        background-position: 0% 200%;
    }
} 

.content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-basis: auto;
    align-items: center;
    justify-content: center;
}

.images-right,
.images-left {
    /* flex-basis: 20%; */
    max-width: 30%;
    margin: 20px;
}

.images-right img,
.images-left img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    /* animation border */
    border: 0.2rem solid #fff;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
    
}
.images-right img:hover,
.images-right img:active,
.images-left img:hover,
.images-left img:active{
    transform: scale(1.1);
}

.description {
    justify-content: center;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

/* Location */

.location-container{
    max-width: 100vw;
    margin: 0 0;
}

.location-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    animation: pulsate 1.5s infinite alternate;
}

.maps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-map {
    margin-right: 10px;
    font-size: 24px;
    animation: waviy 2s ease-out infinite;
   
}

.icon-map a{
    text-decoration: none;
    color: black;
    animation: pulsate 1.5s infinite alternate;

}

@keyframes pulsate {
    0% {
      color: black;
    }
    50% {
      color: #bc13fe;
    }
    100% {
      color: black;

    }    
} 

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}


.icon-map:hover,
.icon-map:active{
    font-size: 50px;
}

.morada {
    font-size: 20px;
}



.morada a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}

.image-map {
    text-align: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 30vh;

}

.image-map img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

@media only screen and (max-width: 767px) {

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.images-right,
.images-left {
    max-width: 80%;
    margin: 20px;
}

.title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

.content {
    flex-direction: column;
    align-items: center;
}

.images-right,
.images-left {
    max-width: 80%;
    margin: 20px;
}

.maps {
    flex-direction: column;
}

.image-map img {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;

}

}
  